// SECTION TITLE CONFIG

.section_title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;

    @include bold-poppins;
}

.dark_title {
    @include dark_title;
}

.light_title {
    @include light_title;
}

// VALUES SECTION
.values_container, .values__item{
    @include flex-column-center;
}

.values__item{
    padding: 20px;
    text-align: justify;
}

.values__item > img{
    height: 150px;
    border-radius: 100%;
}

.values__item > h3{
    text-transform: uppercase;
    @include bold-poppins;
}