// SECTION TITLE CONFIG

.section_title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;

    @include bold-poppins;
}

.dark_title {
    @include dark_title;
}

.light_title {
    @include light_title;
}

// VALUES SECTION
.values_container, .values__item{
    @include flex-column-center;
}

.presentation{
    text-align: center;
    padding: $offset;
    @include bold-poppins;
}

.values__item{
    padding: $offset;
    text-align: center;
}

.values__item > img{
    height: 150px;
    border-radius: 100%;
}

.values__item > h3{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 10px 0;

    @include bold-poppins;
}

.values__item > p{
    width: 90%;
    margin-bottom: $offset;

}


// ACTIONS SECTION
.actions_container{
    @include flex-column-center;
}

.card{
    width: 80%;
    margin-bottom: 30px;
    border: none;
}

// HELP US SECTION

.helpus{
    padding: $offset;
    text-align: justify;
    @include flex-column-evenly;
}

.helpus_img{
    display: none;
}

.helpus_content > ul{
    list-style-type: square;
}


// ---------------
//MEDIA QUERIES - 767px
    @media screen and(min-width: 767px) {
        .presentation{
            font-size: 1.2rem;
        }

        .values__item > img{
            height: 180px;
        }

        .values__item > h3{
            font-size: 1.4rem;
        }
        
        .values__item > p{
            font-size: 1.2rem;
        }

        .card{
            width: 60%;
        }

        .helpus{
            align-items: flex-start;

            & h2,
            & .btn{
                align-self: center;
            }
        }
    }

// ---------------
//MEDIA QUERIES - 1024px
    @media screen and(min-width: 1024px) {
        .values_container{
            @include flex-center;
        }

        .values__item{
            flex: 1;
            align-self: flex-start;
            text-align: justify;
        }

        .actions_container{
            @include flex-center;
        }

        .card{
            width: 80%;
            margin: $offset;
        }

        .helpus{
            font-size: 1.2rem;

            & .btn{
                font-size: 1.2rem;
            }
        }

        .helpus_container{
            @include flex-inline;
        }

        .helpus_img{
            display: block;
            text-align: center;
            
            >img{
                width:60%;
            }
        }
    }
    

