footer{
    width: 100vw;
    height: 100px;
    background: $darkblue;
    color: $gray;
    padding: $offset;
    font-size: 0.8rem;

    @include flex-column-evenly;
    @include regular-poppins;
}

.socials_container{
    width: 100%;
    @include flex-inline;
}

.links_container{
    width: 100%;
    text-align: center; 
    @include flex-inline
}

.contactus{
    @include thin-poppins;
}

.socials{
    color: $gray;
    font-size: 1.2rem;
    margin-bottom: 10px;
    opacity: 0.7;
    transition: all 0.3s ease-in;

    &:hover{
        opacity: 1;
    }
}

// ---------------
//MEDIA QUERIES - 767px

@media screen and(min-width: 767px) {
    footer{
        font-size: 1rem;
    }

    .socials{
        font-size: 1.4rem;
    }
}

// ---------------
//MEDIA QUERIES - 1024px

@media screen and(min-width: 1024px) {
    .socials_container, .links_container{
        width: 70%;
    }

    .socials{
        font-size: 1.6rem;
    }
}

// ---------------
//MEDIA QUERIES - 1280px

@media screen and(min-width: 1280px) {
    footer{
        height: 120px;
    }

    .socials_container, .links_container{
        width: 50%;
    }

    .socials{
        font-size: 2rem;
    }
}