header{
    color: $gray;
    text-transform: uppercase;
    width: 100vw;
    height: 90vh;
    text-align: end;
    padding-right: $offset;
    @include flex-column-center
}

    .pretitle{
        width: 100%;
        font-size: 38px;
        
            &::before{
                content: '';
                animation: we_are 10s step-end infinite;
            }

        @include regular-poppins;
    }
        

    h1{
        font-weight: 600;
        font-size: 50px;
        width: 100%;

        @include bold-poppins;
    }

// ---------------
//MEDIA QUERIES - 1024px
    @media screen and(min-width: 1024px) {
        .pretitle{
            font-size: 50px;
        }

        h1{
            font-size: 70px;
        }
    }
