header{
    color: $gray;
    text-transform: uppercase;
    width: 100vw;
    height: 90vh;
    text-align: end;
    padding-right: $offset;

    @include flex-column-center
}

    .pretitle{
        width: 100%;
        font-weight: 100;
        font-size: 40px;
        
            &::before{
                content: '';
                animation: we_are 10s step-end infinite;
            }
    }
        

    h1{
        font-weight: 600;
        font-size: 50px;
        width: 100%;
    }