nav{
    background: transparent;
    color: $gray;
    height: 90px;
    width: 100vw;
    margin-top: 20px;

    @include flex-space_between;
    @include thin-poppins;
}

.logo{
    height: 90px;
    width: auto;
}

.menu{
    @include flex-inline;

    li > a{
        color: $gray;
        margin-right: $offset;
        text-transform: uppercase;
    }
}


// MEDIA QUERIES

@media screen and(min-width: 1280px) {
    .toggle{
        display: none;
    }
}
