// RESET 
@import "sass/general/reset";

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

// TOOLS
@import "sass/tools/variables";
@import "sass/tools/mixins";
@import "sass/tools/animations";

//CUSTOM
body{
    background: $darkblue;
}

.return{
    color: $gray;
    background: $darkblue;
    width: 100%;
    position: fixed;
    top: 0;
    @include return;
}

h1{
    @include page_title;
    color: $gray;
    margin-top: 50px;
}

.container-fluid{
    width: 90%;
    margin: auto;
    padding: auto;
    color: $gray;

    .form-group{
        margin: auto;
        margin-bottom: 10px;
    }

    button{
        font-size: 1.2em;
        margin: auto;
    }
}

#pre_phone{
    height: 40px;
}


// FOOTER

footer{
    color: $gray;
    width: 90%;
    font-size: 1.2em;
    border: solid $gray 3px;
    padding: 15px;
    margin: 50px auto;
    text-align: center;

    @include flex-column-center;


    .socials_container{
        font-size: 1.6em;
        width: 100%;
        margin-top: 10px;
        @include flex-space_between;
    }
}

// ---------------
//MEDIA QUERIES - 767px
@media screen and(min-width: 767px) {
    input{
        width: 300px;
    }

    footer{
        width: 60%;
    }
}

// ---------------
//MEDIA QUERIES - 1280px
@media screen and(min-width: 1280px) {
    .return{
        font-size: 1.2em;
    }

    footer{
        width: 40%;
    }
}