// RESET 
@import "sass/general/reset";

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

// TOOLS
@import "sass/tools/variables";
@import "sass/tools/mixins";
@import "sass/tools/animations";

//CUSTOM
body{
    background: $darkblue;
}

.return{
    color: $gray;
    @include return;
}

h1{
    @include page_title;
    color: $gray;
}

.form_container{
    width: 90%;
    margin: auto;
    color: $gray;

    .form-group{
        margin: 15px 0;
    }
}

#pre_phone{
    height: 40px;
}

// ---------------
//MEDIA QUERIES - 767px
@media screen and(min-width: 767px) {
    input{
        width: 300px;
    }
}