// RESET 
@import "sass/general/reset";

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

// TOOLS
@import "sass/tools/variables";
@import "sass/tools/mixins";
@import "sass/tools/animations";

//LAYOUT
@import "sass/layout/events-grid";

//CUSTOM
body{
    background: $gray;
}

.return{
    color: $darkblue;
    background: $gray;
    width: 100%;
    position: fixed;
    top: 0;
    @include return;
}

h1{
    @include page_title;
    color: $darkblue;
    margin-top: 50px;
}

.event{
    @include flex-column-end;
    background-blend-mode:multiply;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    
    &.item-1 { 
        background-image: url(https://picsum.photos/id/1083/500/);
    }
    &.item-2 { 
        background-image: url(https://picsum.photos/id/218/500/);
    }
    &.item-3 { 
        background-image: url(https://picsum.photos/id/12/500/);
    }
    &.item-4 { 
        background-image: url(https://picsum.photos/id/13/500/);
    }
    &.item-5 { 
        background-image: url(https://picsum.photos/id/14/500/);
    }
    &.item-6 { 
        background-image: url(https://picsum.photos/id/147/500/);
    }
    &.item-7 { 
        background-image: url(https://picsum.photos/id/154/500/);
    }
    &.item-8 { 
        background-image: url(https://picsum.photos/id/179/500/); 
    }
}

.event_date,
.event_title{
    border-radius: 5px;
    padding-top: 5px;
}

.event:hover{
    background-blend-mode: normal;
    cursor: pointer;

    >.event_date, 
    >.event_title{
        background:hsla(189, 66%, 21%, 0.8);
    }
}

//TILES BACKGROUND

.event_date, 
.event_title{
    color: $gray;
    @include bold-poppins;
}

.event_date{
    font-size: 1.2rem;
}

// FOOTER

footer{
    color: $darkblue;
    width: 90%;
    font-size: 1.2em;
    border: solid $darkblue 3px;
    padding: 15px;
    margin: 50px auto;
    text-align: center;

    @include flex-column-center;


    .socials_container{
        font-size: 1.6em;
        width: 100%;
        margin-top: 10px;
        @include flex-space_between;
    }
}

// ---------------
//MEDIA QUERIES - 767px
@media screen and(min-width: 767px) {
    footer{
        width: 80%;
    }
}


// ---------------
//MEDIA QUERIES - 1280px
@media screen and(min-width: 1280px) {
    .return{
        font-size: 1.2em
    }

    .event{
        @include flex-column-center;
        padding: auto;
    }

    .event_date, 
    .event_title{
        font-size: 1.5rem;
    }

    footer{
        width: 60%
    }
}