@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}

@-webkit-keyframes we_are {
  0% {
    content: "We are 🇬🇧";
  }
  10% {
    content: "Nous sommes 🇫🇷";
  }
  20% {
    content: "Wir sind 🇩🇪";
  }
  30% {
    content: "Somos 🇪🇸";
  }
  40% {
    content: "είμαστε 🇬🇷";
  }
  50% {
    content: "Siamo 🇮🇹";
  }
  60% {
    content: "We zijn 🇱🇺";
  }
  70% {
    content: "Vi er 🇫🇮";
  }
  80% {
    content: "Estamos 🇵🇹";
  }
  90% {
    content: "Mi smo dobro 🇭🇷";
  }
  100% {
    content: "Vi mår bra 🇸🇪";
  }
}

@keyframes we_are {
  0% {
    content: "We are 🇬🇧";
  }
  10% {
    content: "Nous sommes 🇫🇷";
  }
  20% {
    content: "Wir sind 🇩🇪";
  }
  30% {
    content: "Somos 🇪🇸";
  }
  40% {
    content: "είμαστε 🇬🇷";
  }
  50% {
    content: "Siamo 🇮🇹";
  }
  60% {
    content: "We zijn 🇱🇺";
  }
  70% {
    content: "Vi er 🇫🇮";
  }
  80% {
    content: "Estamos 🇵🇹";
  }
  90% {
    content: "Mi smo dobro 🇭🇷";
  }
  100% {
    content: "Vi mår bra 🇸🇪";
  }
}
body {
  background-image: url(/images/content/header.jpg);
  background-repeat: none;
  background-position: top;
  background-attachment: fixed;
}

.section_title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

.dark_title {
  color: #124e59;
  margin-bottom: 10px;
}

.light_title {
  color: #EFF1F3;
  margin-bottom: 10px;
}

.values_container, .values__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation {
  text-align: center;
  padding: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

.values__item {
  padding: 30px;
  text-align: center;
}

.values__item > img {
  height: 150px;
  border-radius: 100%;
}

.values__item > h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 10px 0;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

.values__item > p {
  width: 90%;
  margin-bottom: 30px;
}

.actions_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  margin-bottom: 30px;
  border: none;
}

.helpus {
  padding: 30px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.helpus_img {
  display: none;
}

.helpus_content > ul {
  list-style-type: square;
}

@media screen and (min-width: 767px) {
  .presentation {
    font-size: 1.2rem;
  }
  .values__item > img {
    height: 200px;
  }
  .values__item > h3 {
    font-size: 1.4rem;
  }
  .values__item > p {
    font-size: 1.2rem;
  }
  .card {
    width: 60%;
  }
  .helpus {
    align-items: flex-start;
  }
  .helpus h2, .helpus .btn {
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .values_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .values__item {
    flex: 1;
    align-self: flex-start;
    text-align: justify;
  }
  .actions_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 80%;
    margin: 30px;
  }
  .helpus {
    font-size: 1.2rem;
  }
  .helpus .btn {
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .helpus_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .helpus_img {
    display: block;
    text-align: center;
  }
  .helpus_img > img {
    width: 60%;
  }
}
nav {
  background: #124e59;
  color: #EFF1F3;
  height: 60px;
  width: 100vw;
  position: fixed;
  z-index: 1;
  transition: all 0.4s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 400;
}

.logo {
  height: 50px;
  width: auto;
  position: relative;
  z-index: 20;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: #124e59;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 1s;
  margin: 0;
}
.menu li > a {
  color: #EFF1F3;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.toggle {
  margin-right: 30px;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.toggle > .toggle_close {
  display: none;
}

.open_menu .toggle_open {
  display: none;
}
.open_menu .toggle_close {
  display: block;
}
.open_menu .menu {
  transform: translateX(0);
}

@media screen and (min-width: 1280px) {
  nav {
    height: 90px;
  }
  .logo {
    height: 70px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: transparent;
    width: 50%;
    height: inherit;
    margin-right: 30px;
    transform: translateX(0);
  }
  .menu li > a {
    font-size: 1.2rem;
    opacity: 0.5;
    transition: all 0.3s ease-in;
  }
  .menu li > a:hover {
    opacity: 1;
  }
  .toggle {
    display: none;
  }
}
.cookie-banner {
  position: fixed;
  bottom: 10%;
  left: 1%;
  width: 100%;
  height: 20%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #124e59;
  border-radius: 10px;
  color: #EFF1F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cookie-banner > button {
  margin-bottom: 5px;
}

@media screen and (min-width: 767px) {
  .cookie-banner {
    width: 40%;
  }
  .cookie-banner > p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  .cookie-banner {
    width: 25%;
  }
  .cookie-banner > p {
    font-size: 1.5em;
  }
}
header {
  color: #EFF1F3;
  text-transform: uppercase;
  width: 100vw;
  height: 90vh;
  text-align: end;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pretitle {
  width: 100%;
  font-size: 38px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
}
.pretitle::before {
  content: "";
  -webkit-animation: we_are 10s step-end infinite;
          animation: we_are 10s step-end infinite;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  width: 100%;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  header {
    height: 100vh;
  }
  .pretitle {
    font-size: 50px;
  }
  h1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 1400px) {
  header {
    height: 100vh;
  }
  .pretitle {
    font-size: 90px;
  }
  h1 {
    font-size: 120px;
  }
}
.mb-3 > label {
  color: #124e59;
  font-weight: 500;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.currency-label {
  flex: 1;
  margin-right: 10px;
}

.input-group-addon {
  flex: 2;
}

footer {
  width: 100vw;
  height: 100px;
  background: #124e59;
  color: #EFF1F3;
  padding: 30px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 400;
}

.socials_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links_container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contactus {
  font-family: "poppins", sans-serif;
  font-weight: 100;
}

.socials {
  color: #EFF1F3;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
  footer {
    font-size: 1rem;
  }
  .socials {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .socials_container, .links_container {
    width: 70%;
  }
  .socials {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    height: 120px;
  }
  .socials_container, .links_container {
    width: 50%;
  }
  .socials {
    font-size: 2rem;
  }
}
.values {
  background: #EFF1F3;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.actions {
  background: #6da8b8;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.helpus {
  background: #EFF1F3;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

a.link_text {
  font-weight: bold;
  color: #6da8b8;
}/*# sourceMappingURL=style.css.map */