@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@-webkit-keyframes we_are {
  0% {
    content: "We are 🇬🇧";
  }
  10% {
    content: "Nous sommes 🇫🇷";
  }
  20% {
    content: "Wir sind 🇩🇪";
  }
  30% {
    content: "Somos 🇪🇸";
  }
  40% {
    content: "είμαστε 🇬🇷";
  }
  50% {
    content: "Siamo 🇮🇹";
  }
  60% {
    content: "We zijn 🇱🇺";
  }
  70% {
    content: "Vi er 🇫🇮";
  }
  80% {
    content: "Estamos 🇵🇹";
  }
  90% {
    content: "Mi smo dobro 🇭🇷";
  }
  100% {
    content: "Vi mår bra 🇸🇪";
  }
}

@keyframes we_are {
  0% {
    content: "We are 🇬🇧";
  }
  10% {
    content: "Nous sommes 🇫🇷";
  }
  20% {
    content: "Wir sind 🇩🇪";
  }
  30% {
    content: "Somos 🇪🇸";
  }
  40% {
    content: "είμαστε 🇬🇷";
  }
  50% {
    content: "Siamo 🇮🇹";
  }
  60% {
    content: "We zijn 🇱🇺";
  }
  70% {
    content: "Vi er 🇫🇮";
  }
  80% {
    content: "Estamos 🇵🇹";
  }
  90% {
    content: "Mi smo dobro 🇭🇷";
  }
  100% {
    content: "Vi mår bra 🇸🇪";
  }
}
body {
  background-image: url(/images/content/header.jpg);
  background-repeat: none;
  background-position: top;
  background-attachment: fixed;
}

nav {
  background: transparent;
  color: #EFF1F3;
  height: 90px;
  width: 100vw;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 90px;
  width: auto;
}

.menu {
  margin-right: 30px;
}

header {
  color: #EFF1F3;
  text-transform: uppercase;
  width: 100vw;
  height: 90vh;
  text-align: end;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pretitle {
  width: 100%;
  font-weight: 100;
  font-size: 40px;
}
.pretitle::before {
  content: "";
  -webkit-animation: we_are 10s step-end infinite;
          animation: we_are 10s step-end infinite;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  width: 100%;
}

.values {
  background: #EFF1F3;
  width: 100%;
  height: 100vh;
}

.actions {
  background: #2D7DD2;
  width: 100%;
  height: 100vh;
}

.news {
  background: #EFF1F3;
  width: 100%;
  height: 100vh;
}

.helpus {
  background: #2D7DD2;
  width: 100%;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */