// FLEX CONFIGURATIONS

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// SECTION COINFIGURATIONS

@mixin light-section{
    background: $gray;
    width: 100%;
    height: 100vh;
}

@mixin blue-section{
    background: $lightblue;
    width: 100%;
    height: 100vh;
}

// FONT CONFIGURATION
@mixin thin-poppins{
    font-family: 'poppins', sans-serif;
    font-weight: 100;
}

@mixin regular-poppins{
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

@mixin bold-poppins{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}